:root {
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-title: #212121;
  --color-uptitle: #757575;
  --color-logo: #000000;
  --color-icon: #afb1b8;
  --transformation: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-uptitle);
  background-color: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  -webkit-transition: opacity 400ms var(--transformation), visibility 300ms var(--transformation);
  transition: opacity 400ms var(--transformation), visibility 300ms var(--transformation);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--color-white);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-transition: border-radius 300ms var(--transformation), -webkit-transform 300ms var(--transformation);
  transition: border-radius 300ms var(--transformation), -webkit-transform 300ms var(--transformation);
  transition: transform 300ms var(--transformation), border-radius 300ms var(--transformation);
  transition: transform 300ms var(--transformation), border-radius 300ms var(--transformation), -webkit-transform 300ms var(--transformation);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  border-radius: 50%;
}

.modal-clouse {
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 12px;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-uptitle);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
}

.modal-input:focus {
  border-color: var(--color-blue);
}

.modal-input:focus + .input-icon {
  fill: var(--color-blue);
}

.input-icon {
  position: absolute;
  left: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.modal-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:focus {
  border-color: var(--color-blue);
}

.check-wrap {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--color-uptitle);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .check-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.check-link {
  color: var(--color-blue);
  position: relative;
  padding-left: 7px;
}

.check-link::after {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--color-blue);
  display: block;
  position: absolute;
  bottom: 3px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-title);
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--transformation), background-color 250ms var(--transformation), border-color 250ms var(--transformation);
  transition: fill 250ms var(--transformation), background-color 250ms var(--transformation), border-color 250ms var(--transformation);
}

.modal-check:checked + .check-text span {
  background-color: var(--color-blue);
  border: none;
  fill: var(--color-white);
}

.modal-check:focus + .check-text span {
  border-color: var(--color-blue);
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  background-color: var(--color-blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  outline: transparent;
  margin-left: 85px;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    margin-left: 124px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 767px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: auto;
  }
}

.logo {
  text-decoration: none;
  list-style: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--color-logo);
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo span {
  color: var(--color-blue);
}

.menu-nav {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.menu {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.menu-nav__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  -webkit-transition: color 250ms var(--transformation);
  transition: color 250ms var(--transformation);
  position: relative;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-title);
  -webkit-transition: color 250ms var(--transformation);
  transition: color 250ms var(--transformation);
  position: relative;
}

.menu-item {
  margin-bottom: 10px;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.current {
  color: var(--color-blue);
}

.menu__color {
  color: var(--color-uptitle);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--color-blue);
}

.menu-nav__link:hover,
.menu-nav__link:focus {
  color: var(--color-blue);
}

.menu__img {
  margin-right: 10px;
  fill: currentColor;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.menu-mobile > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.menu-mob {
  margin-bottom: 306px;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.menu-mob__link:hover, .menu-mob__link:focus {
  color: var(--color-blue);
}

.cont-mob {
  margin-bottom: 64px;
}

.cont-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.cont-mob__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.cont-mob__link:hover, .cont-mob__link:focus {
  color: var(--color-blue);
}

.mob-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--color-blue);
  text-decoration: none;
}

.mob-soc-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 10px;
}

.current {
  color: var(--color-blue);
}

.hero {
  background-color: #505158;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Header-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Header-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 60px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Header-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Header-mob-2x.jpg);
  }
}
@media screen and (min-width: 480) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/header-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/header-tab.jpg);
  }
}
@media screen and (min-width: 480) and (min-device-pixel-ratio: 2), screen and (min-width: 480) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480) and (min-resolution: 192dpi), screen and (min-width: 480) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Header-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Header-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/comand.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/comand.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/comand-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/comand-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  min-width: 216px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.benefits {
  display: block;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__block {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.benefits__title {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-title);
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__uptitle {
  line-height: 1.71;
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-title);
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.wrap {
  position: relative;
}

.wrap__text {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-title);
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-border {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-border {
    padding-bottom: 30px;
  }
}

.team-item {
  border-radius: 4px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-title);
}

.team-item-uptitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  weight: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms var(--transformation), background-color 250ms var(--transformation);
  transition: fill 250ms var(--transformation), background-color 250ms var(--transformation);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-blue);
  fill: var(--color-white);
}

.client-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.client-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms var(--transformation), border 250ms var(--transformation);
  transition: fill 250ms var(--transformation), border 250ms var(--transformation);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--color-blue);
  fill: var(--color-blue);
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .contacts-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
}

.contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-contacts {
  color: var(--color-white);
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .logo-contacts {
    text-align: center;
    margin: auto;
  }
}

.contacts-adress {
  font-style: normal;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .contacts-adress {
    margin-left: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-adress {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-list {
    text-align: center;
  }
}

.contacts-item {
  margin-bottom: 9px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-link {
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--transformation);
  transition: color 250ms var(--transformation);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-blue);
}

.contacts-link-color {
  color: var(--color-white);
}

.footer-conteiner {
  margin-left: 137px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    margin-left: 70px;
  }
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  fill: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--transformation);
  transition: background-color 250ms var(--transformation);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-blue);
}

.footer-field {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .footer-field {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-field {
    margin-left: 93px;
  }
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-text {
    text-align: center;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-reset {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--color-white);
  margin-bottom: 20px;
}

.foter-reset::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foter-reset::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foter-reset:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foter-reset::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foter-reset::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--color-blue);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form-icon {
  margin-left: 10px;
}

.examples {
  display: block;
}

.examples-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.examples-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.examples-btn {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--color-title);
  -webkit-transition: color 250ms var(--transformation), background-color 250ms var(--transformation), -webkit-box-shadow 250ms var(--transformation);
  transition: color 250ms var(--transformation), background-color 250ms var(--transformation), -webkit-box-shadow 250ms var(--transformation);
  transition: color 250ms var(--transformation), background-color 250ms var(--transformation), box-shadow 250ms var(--transformation);
  transition: color 250ms var(--transformation), background-color 250ms var(--transformation), box-shadow 250ms var(--transformation), -webkit-box-shadow 250ms var(--transformation);
}

.examples-btn:hover,
.examples-btn:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.examples-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--transformation);
  transition: -webkit-box-shadow 250ms var(--transformation);
  transition: box-shadow 250ms var(--transformation);
  transition: box-shadow 250ms var(--transformation), -webkit-box-shadow 250ms var(--transformation);
}

.examples-link:hover,
.examples-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-top-wrap {
  position: relative;
  overflow: hidden;
}

.examples-item:hover .examples-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples-top-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transformation);
  transition: -webkit-transform 250ms var(--transformation);
  transition: transform 250ms var(--transformation);
  transition: transform 250ms var(--transformation), -webkit-transform 250ms var(--transformation);
  overflow: auto;
}

.examples-text {
  padding: 20px 24px;
}

.examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.examples-uptitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-uptitle);
}/*# sourceMappingURL=main.css.map */