:root {
    --color-blue: #2196f3;
    --color-white: #ffffff;
    --color-title: #212121;
    --color-uptitle: #757575;
    --color-logo: #000000;
    --color-icon: #afb1b8;
    --transformation: cubic-bezier(0.4, 0, 0.2, 1);
  }